@tailwind base;
@tailwind components;
@tailwind utilities;

.link-with-underline {
  position: relative;
  text-decoration: none;
}

.link-with-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: #000000;
  transition: 0.2s ease-in-out;
}

.link-with-underline:hover::after {
  transition: 0.2s ease-in-out;
  transform: scaleX(1);
  transform-origin: center;
  left: 0;
}

.active-link {
  position: relative;
  text-decoration: none;
}
.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  width: 100%;
  height: 1.5px;
  transform: scaleX(1);
  background-color: #000000;
  transition: 0.2s ease-in-out;
}

.shadow-inner-x {
  box-shadow: inset 0 40px 40px 0 rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
}
